@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
    double Total = 0;
}

<div class="container">
    <div class="row mt-3">
        @if (Model.Count != 0)
        {
            <div class="col-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Database Count</th>
                            <th scope="col">Basket Count</th>
                            <th scope="col">Minus</th>
                            <th scope="col">Plus</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="parentBody">
                        <partial name="_BasketPartial" />
                    </tbody>
                </table>
            </div>
            <div class="col-12">Total:@Total</div>
        }
        else
        {
            <p>
                Sebet boshdur mehsullari sechmek uchun ya
                <a asp-controller="Home" asp-action="Index">Home</a> ya da
                <a asp-controller="Product" asp-action="Index">Products</a> sehifesine baxa bilersiniz
            </p>
        }
    </div>
</div>

@section Scripts
 {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>


        function Increase() {
            event.preventDefault();
            let formdata = new FormData();
            id = $(".plusProduct").attr('data-id');
            console.log(id)
            formdata.append("id", id);
            axios.post('/basket/ProductCountPlusAxious', formdata)

                .then(function (response) {
                    document.getElementsByClassName("productCount").innerText = response.data;
                })
                .catch(function (error) {
                    if (error.response) {
                        let errorObj = error.response.data;
                        for (let errors in errorObj) {
                            let error = errorObj[errors];
                            console.log(error);
                        }
                    }

                });

        }

    </script>
}

@* @section Scripts *@
@* { *@
@*     <script > *@
@*       *@
@*      $(document).on("click", "#plusProduct", function () { *@
@*             let id = $(this).attr("data-id"); *@
@*              *@
@*             $.ajax({ *@
@*                 url: "/Basket/ProductCountPlus?Id=" + id, *@
@*                 type: "Get", *@
@*                 success: function (res) { *@
@*                 console.log(res) *@
@*              *@
@*                 let productCount= $(".productCount"); *@
@*                  *@
@*                 productCount=res; *@
@*                     // $("#parentTr").text(childTr); *@
@*                 } *@
@*             }) *@
@*         }) *@
@*     </script> *@
@* } *@












