@model Category
@{
    ViewData["Title"] = "Detail";
}


    
    <div class="row">
        <div class="card-body">
            <blockquote class="blockquote blockquote-primary">
                <div class="blockquote-danger mb-3">@Model.Name</div>
                <p>@Html.Raw(Model.Description)</p>

            </blockquote>
        </div>
    </div>
    <div class="row mt-3 ml-3">
        <a asp-action="Index" class="btn btn-github">Go back</a>
    </div>
    
